body {
  margin-inline: auto;
  width: 450px;
  font-family: "Libre Baskerville", serif;
  background-image: url("../img/sfondo.png");
  font-family: "Poppins", sans-serif;
  padding: 2 rem;
  background-size: contain;
  font-size: 16px;
  line-height: 1rem;
}
p {
  margin: 2rem;
}
header img {
  width: 70%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
header {
  background-color: blue;
  margin: 2rem;
  text-align: center;
  padding: 2rem;
  height: 21rem;
}
nav {
  margin-top: 2rem;
  font-size: 1.5rem;
}
.ul-nav li {
  padding: 1rem;
}
main {
  background-color: white;
  margin: 1rem;
  padding: 1rem;
}

footer {
  background-color: aquamarine;
  margin: 1rem;
  text-align: center;
  padding: 1rem;
}
h1 {
  font-weight: bolder;
  font-size: 1.2rem;
}
body main h2 {
  font-size: 3 rem;
}
ul {
  list-style: disc;
  padding-left: 3rem;
}
a {
  color: aquamarine;
}
span {
  color: blueviolet;
}

.div-tabella {
  margin: 1rem;
}
table {
  text-align: center;
}
table th {
  background-color: blue;
  height: 2rem;
  width: 33%;
}
table tr:nth-child(odd) {
  background-color: gray;
}
iframe {
  margin: 2 rem;
  border-radius: 2%;
  width: 90%;
  height: 3 rem;
}
